:root {
    --primary-color: #D1884F;
    --secondary-color: #008AAA;
    --accent-color: #3BBADB;
    --text-color: #333;
}

* {
    box-sizing: border-box;
}

body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}

header {
    padding: 3rem 0;
    color: var(--text-color);
    padding-left: 600px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 40px;
    
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    
}

.nav-item:hover {
    color: #D1884F; 
}

.nav-item:hover .fa {
    color: #D1884F;
}

.welcome {
    text-align:justify;
    margin: 1rem 0;
    padding-left: 30px;
}

.introduction {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 2rem;
    background-color: white;
    margin-top: 2rem;
    text-align: center;
    padding-left: 15rem;
}

.intro-text {
    max-width: 500px;
}


.intro-text h1 {
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

.intro-text p {
    margin-bottom: 1rem;
}

.welcome-text {
    color: var(--accent-color);
    font-size: 20px;
}

.see-more {
    color:  var(--accent-color); 
    text-decoration: none; 
}

.see-more:hover {
    color: #D1884F; 
}
.btn {
    background-color: var(--accent-color);
    color: #fff;
    text-decoration: none;
    transition-duration: 0.4s;
    padding: 10px 20px;
    display: inline-block;
    margin-right: 15px;
    border-radius: 4px; 
    border: 2px solid #008AAA;
}

.btn:hover {
    background-color: #D1884F; 
    color: white;
  }

.image-container {
    position: relative;
    width: 300px; /* Set this to the desired width of your image */
    height: 300px; /* Set this to the desired height of your image */
    border-radius: 50%; /* This makes the container circular */
    overflow: hidden; /* This will hide the parts of the image that overflow the container's bounds */
    margin: auto; /* This centers the container in its parent if needed */
}

.image-container::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 30%;
    width: 170%; 
    height: 50%; 
    border-radius: 50%;
    transform: translateX(-50%); 
    z-index: 1;
}

.profile-image {
    width: 100%;
    position: absolute;
    bottom: -185px;
    left: 60%;
    transform: translateX(-50%);
}


.hidden-section {
    display: flex;
    /*display: flex;none*/
    align-items: center;
    justify-content: space-around;
    padding-left: 15rem;
    padding-top: 2rem;
    padding-right: 20rem;
    background-color: white;
    margin-top: 15rem;
    text-align: center;

}

.hidden-section h2{
    color: var(--secondary-color);
    margin-bottom: 1rem;
}
.visible-section {
    display: block;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.visible-section.active {
    opacity: 1;
}

.contact-section {
    text-align: center;
    padding: 5rem;
    background-color: white; /* Background color */
}

.contact-content {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.contact-content h2{
    padding-left: 10 px;
    color: var(--secondary-color);

}

.contact-section form {
    margin-top: 20px;
}

.contact-section input,
.contact-section textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.contact-section button {
    background-color: var(--primary-color); /* Your primary color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.contact-info {
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .introduction {
        flex-direction: column;
    }

    .intro-img img {
        margin-top: 2rem;
    }
}



.projects-section {
    padding: 20px;
    text-align: center;
}

.project {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px;
    margin: 20px;
    text-align: left;
}

.projects-section h1{
    color: var(--secondary-color);
}

.project h2 {
    color: var(--primary-color);
}

.project p {
    color: var(--text-color);
}

/* Responsive design */
@media (max-width: 768px) {
    .project {
        margin: 20px 10px;
    }
}
